<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tuyển sinh</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Trang chủ</a>
        <a href="/create">Tạo hồ sơ</a>
    </div>
    <div class="table-container">
        <div class="title">Danh sách hồ sơ</div>
        <table>
            <tr>
                <th>Mã hồ sơ</th>
                <th>Tên</th>
                <th>Địa chỉ</th>
                <th>Điểm 3 môn</th>
                <th>Mã số</th>
                <th>Mã ngành đăng ký</th>
                <th>Tùy chỉnh</th>
            </tr>

            <% listHoSo.forEach(function(hoSo) { %>
                <tr>
                    <td>
                        <%= hoSo.maHoSo %>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.ten %>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.diaChi%>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.diem3Mon %>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.maSo %>
                    </td>
                    <td>
                        <%= hoSo.nganhHoc.maNganh %>
                    </td>
                    <td>
                        <form action="/edit/<%= hoSo.maHoSo %>" method="get">
                            <button class="my-button my-edit-button">Edit</button>
                        </form>
                        <form action="/delete-user/<%= hoSo.maHoSo %>" method="post">
                            <button class="my-button my-delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>

        </table>

        <div>
            <form action="/handle-user" method="post">
                <button>Nhấn để xử lý hồ sơ</button>
            </form>
        </div>


        <div class="title">Kết quả </div>

        <table>
            <tr>
                <th>Mã hồ sơ</th>
                <th>Tên</th>
                <th>Địa chỉ</th>
                <th>Điểm 3 môn</th>
                <th>Mã số</th>
                <th>Mã ngành đăng ký</th>
                <th>Ghi chú</th>
            </tr>

            <% listHoSoDau.forEach(function(hoSo) { %>
                <tr>
                    <td>
                        <%= hoSo.maHoSo %>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.ten %>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.diaChi%>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.diem3Mon %>
                    </td>
                    <td>
                        <%= hoSo.sinhVien.maSo %>
                    </td>
                    <td>
                        <%= hoSo.nganhHoc.maNganh %>
                    </td>
                    <td>
                        Đậu ngành <%= hoSo.nganhHoc.tenNganh %>
                            (Điểm chuẩn: <%= hoSo.nganhHoc.diemChuan%>)
                    </td>
                </tr>
                <% }) %>
        </table>


    </div>
</body>

</html>